<div class="card mt-4">
    <div class="card-body">
        <h2 class="alert alert-info text-center p-0">{{isInEditMode? 'Update Post' : 'Add Post'}}</h2>
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="font-weight-bold" for="title">Title<sup>*</sup></label>
            <input type="text" formControlName="title" class="form-control">
        </div>
        <div class="form-group">
            <label class="font-weight-bold"  for="content">Content<sup>*</sup></label>
            <textarea type="text" formControlName="content" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label class="font-weight-bold"  for="userId">userId<sup>*</sup></label>
            <select type="text" formControlName="userId" class="form-control">
                <option *ngFor="let val of optionalVal" [value]="val">{{val}}</option>
            </select>
        </div>

        <button class="btn btn-block" *ngIf="!isInEditMode" mat-raised-button color="primary">Add Post</button>
        <button type="button" (click)="onUpdate()" class="btn btn-block" *ngIf="isInEditMode" mat-raised-button color="primary">Update Post</button>
    </form>
    </div>
</div>
